<div class="main-container">
  <div class="todo-list-container">
    <h2>To Do App</h2>
    <form>
      <div class="new-task-container">
        <label class="new-task-label" for="task">Enter New Task</label>
        <input class="new-task-input" [formControl]="taskForm" type="text" name="task" id="task" aria-label="new-task">
      </div>
      <button type="button" (click)="addTask()" [disabled]="!taskForm.valid" class="submit-button">Submit</button>
    </form>
    <div class="list-container">
      <ul>
        <li *ngFor="let item of taskList; let i = index">
          <div (click)="toggleTask(i)"
          class="task-item-container"
          [class.completed]="item.completed"><p>{{ item.task }}</p></div>
        </li>
      </ul>
    </div>
    <button type="button" class="delete-button" (click)="deleteItemsFromList()">Clear Completed</button>
  </div>
</div>
